astroid
boto
boto3
botocore
bz2file
certifi
chardet
Click
Flask
gensim
gunicorn
idna
isort
itsdangerous
Jinja2
jmespath
lazy-object-proxy
MarkupSafe
mccabe
numpy
Pillow
python-dateutil
requests
s3transfer
scipy
six
smart-open
torchvision
urllib3
Werkzeug
wrapt
